@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk';
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141516;
  height: 100vh;
  font-color: black;
  padding: 120px;
}

#song_list {
  background: white;
  border-radius: 10px;
}

:root {
/*  change this for scaling  */
  --m: 4rem;

  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
}

#play-btn {
  border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  color: #F3F3F3;
  font-family: 'Space Grotesk';
  font-size: var(--m);
  border-radius: calc(0.7 * var(--m));
  padding: calc(0.5 * var(--m)) calc(1 * var(--m));
  display: flex;
  justify-content: center;
  cursor: pointer;
  background:linear-gradient(#121213, #121213), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}

#play-btn::before {
  content: '';
  background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

#play-btn:hover, #play-btn:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {background-position: 0}
  100% {background-position: 200%}
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
}


button {
  cursor: pointer;
}

ul li {
  font-family: 'Space Grotesk';
}

#currentSong {
 letter-spacing: 2px;
 justify-content: center;
 text-align: center;
}

#buttons, #search {
  text-align: center;
  margin-left: auto;  /* Add this line to move the buttons to the right */
  margin-right: auto; /* Add this line to center the buttons horizontally */
}

#search input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 5px;
}

#search h3 {
  letter-spacing: 2px; /* Add some letter spacing for visual appeal */
  text-align: center; /* Center the text */
  font-family: 'Space Grotesk';
}

#playPauseBTN, #stopBtn, #showBtn {
  padding: 10px 25px;
  font-size: 22px;
  line-height: 40px;
  min-width: 150px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(to right bottom, #273c75, #079992);
  color: #fff;
  border-radius: 5px;
  border: 0px;
  height: 60px;
}

#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}

@media (max-width: 900px) {
  body {
    padding: 20px;
  }
  buuton {
    padding: 10px;
    font-size: 18px;
    line-height: 30px;
  }
  #searchSong {
    width: 80%; /* Adjust the width of the search input on mobile */
  }
}

@media only screen and (max-width: 600px) {
  #buttons button {
    margin-right: 10px; /* Add margin between the buttons on mobile */
  }
}
